.App {
  background-color: black;
  min-height: 100vh;

  font-size: calc(10px + 2vmin);
  color: white;
}
.title_chaykhana {
  font-size: 22px;
  position: relative;
  text-align: end;
  margin-right: 15px;
  padding-top: 15px;
  width: 98%;
  text-shadow: 2px 2px 4px #ffffff;
}
.cards_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 22px;
  height: 100%;
}
.img_container {
  width: 100%;
}
